{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title" style="font-family: {{ post.font }}"><a href="{{ site.root }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      {% if page.external-url %}
        <h1 class="entry-title" style="font-family: {{ page.font }}"><a href="{{ page.external-url }}">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} &rarr;</a></h1>
      {% else %}
        <h1 class="entry-title" style="font-family: {{ page.font }}">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
      {% endif %}
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
         | <a href="{% if index %}{{ site.root }}{{ post.url }}{% endif %}#disqus_thread"
              data-disqus-identifier="{{ site.url }}{% if index %}{{ post.url}}{% else %}{{ page.url }}{% endif %}"
	      >Comments</a>
        {% endif %}
        {% if site.edit %}
          {% unless index %}
           | <a href="{{ site.edit }}/{{ page.path }}">Edit</a>
          {% endunless %}
        {% endif %}
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if post.draft or page.draft %}
<p><em>This is a draft post.  Feel free to share it with people, but I would prefer to avoid aggregators.  Draft posts do not have stable URLs, and some may never make it out of that stage; you may instead want to link to the <a href="/Blog/drafts/index.html">draft category page</a>.</em></p>
{% endif %}
{% if index %}
  <div class="entry-content" style="font-family: {{ post.font }}; font-size: {{ post.fontsize }}">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ site.root }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
<div class="entry-content" style="font-family: {{ page.font }}; font-size: {{ page.fontsize }}">{{ content }}</div>
{% endif %}
