---
layout: page
title: Draft posts
footer: false
---

<p>The posts in this page are drafts, or more-or-less-personal essays. Feel free to share it with people, but I would prefer to avoid aggregators. Draft posts do not have stable URLs, and some may never make it out of that stage; you may instead want to <a href="/Blog/drafts/index.html">link to this page</a>.</p>

<div id="blog-archives">
{% for post in site.posts %}
{% if post.hidden and post.draft %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  <h2>{{ year }}</h2>
{% endunless %}
<article>
  {% include archive_post.html %}
</article>
{% endif %}
{% endfor %}
</div>
